#Submitbtm
{
  margin-top: 20px;
  margin-bottom: 20px;
}

#Sortbtm
{
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

input{
  margin: 10px;
}

#Display_Name
{
  border: 1px solid cyan;
  padding: 10px;
  background-color: rgb(114, 214, 84);
  border-radius: 10px;
  width: 50%;
}

#Display_Without_Comma
{
  border: 1px solid rgba(143, 199, 203, 0.393);
  padding: 10px;
  background-color: rgb(172, 189, 166);
  border-radius: 10px;
  width: 50%;  
}